{
  "swagger": "2.0",
  "info": {
    "title": "Slide",
    "description": "This is an slide for all my slide entries. I use a single slide system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "slide.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/slide/": {
      "get": {
        "summary": "all slides",
        "description": "all slides",
        "operationId": "getSlides",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across slide",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      },
      "post": {
        "summary": "add a slide post",
        "description": "add a slide post",
        "operationId": "addSlide",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the slide was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the slide originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the slide",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      }
    },
    "/slide/published/": {
      "get": {
        "summary": "published slides",
        "description": "published slides",
        "operationId": "getPublishedSlides",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      }
    },
    "/slide/draft/": {
      "get": {
        "summary": "draft slides",
        "description": "draft slides",
        "operationId": "getDraftSlides",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      }
    },
    "/slide/{slide_id}/": {
      "get": {
        "summary": "Retrieve a slide using its slug",
        "description": "Returns the slide detail",
        "operationId": "getSlide",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "the unique id for slide entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      },
      "put": {
        "summary": "update slide",
        "description": "update slide",
        "operationId": "updateSlide",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "the unique id for slide entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the slide was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the slide originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the slide",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      },
      "delete": {
        "summary": "delete slide",
        "description": "delete slide",
        "operationId": "deleteSlide",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "the unique id for slide entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "slide response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      }
    },
    "/slide/{slide_id}/tags/": {
      "get": {
        "summary": "slide tags",
        "description": "slide tags",
        "operationId": "getslideTags",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "id for slide",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to slide",
        "description": "add tag to slide",
        "operationId": "addSlideTag",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "id for the slide",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/slide/{slide_id}/tags/{tag}": {
      "delete": {
        "summary": "delete slide tag",
        "description": "delete slide tag",
        "operationId": "deleteslideTag",
        "parameters": [
          {
            "name": "slide_id",
            "in": "path",
            "description": "id for the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/slide/tags/byweek/": {
      "get": {
        "summary": "slide tags by week",
        "description": "slide tags by week",
        "operationId": "getSlideTagsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          },        
          {
            "name": "week",
            "in": "query",
            "description": "the week to retrieve tags by",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "the year to retrieve tags by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "Slide Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/slide/tags/byweek/{tag}/slide/": {
      "get": {
        "summary": "slide tags by week slides",
        "description":  "slide tags by week slides",
        "operationId": "getSlideTagCSlide",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/slide/byweek/": {
      "get": {
        "summary": "slides by week",
        "description": "slides by week",
        "operationId": "getSlidesByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the slide",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the slide",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Slide Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/slide"
              }
            }
          }
        },
        "tags": [
          "Slide"
        ]
      }
    }
  },
  "definitions": {
    "slide": {
      "properties": {
        "slide_id": {
          "description": "unique id of the slide",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the slide was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the slide",
          "type": "string"
        },
        "author": {
          "description": "author of the slide",
          "type": "string"
        },
        "summary": {
          "description": "summary for the slide",
          "type": "string"
        },
        "body": {
          "description": "full body text of the slide",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the slide",
          "type": "string"
        },
        "status": {
          "description": "status of the slide",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the slide originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}